#inventorybody{
  font-family: Arial, sans-serif;
  margin: 30px;
}

#inventoryh1{
  text-align: center;
}

#inventorytable{
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  color: black;
}

.inventoryth,
.inventorytd{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.inventorythead{
  background-color: #333;
  color: white;
}

.ready{
  background-image: linear-gradient(to right, #d4fc79, #96e6a1);
}

.testing{
  background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.maintenance{
  background-image: linear-gradient(to right, #fddb92, #d1fdff);
}

.status{
  display: inline-block;
  height: 25px;
  width: 90px;
  padding: 5px;
}

.rate{
  display: inline-block;
  height: 25px;
  width: 90px;
  padding: 5px;
}

.rate span{
  border: 1px solid black;
  border-radius: 4px;
  margin: 2px;
  height: 10px;
  width: 10px;
  background-color: lightgray;
  display: inline-block;
}

/* status styles */

.ready .status{
  border: 1px solid green;
  background-image: linear-gradient(to right, lightgreen, white);
}

.testing .status{
  border: 1px solid blue;
  background-image: linear-gradient(to right, lightblue, white);
}

.maintenance .status{
  border: 1px solid orange;
  background-image: linear-gradient(to right, orange, white);
}

/* rating styles */

.one span:nth-child(1){
  background-image: linear-gradient(to right, gold, orange);
}

.two span:nth-child(-n+2){
  background-image: linear-gradient(to right, gold, orange);
}

.three span{
  background-image: linear-gradient(to right, gold, orange);
}